#quarto-content, .title {
  display: flex !important;
  justify-content: center !important;
}

#quarto-document-content {
  width: 60vw !important;
}

@font-face {
  font-family: ProgessFont;
  src: url('www/fonts/ProgressPersonalUse-EaJdz.ttf');
}

@font-face {
  font-family: grenade;
  src: url('www/fonts/wargate.ttf');
}

.warFont {
  font-family: 'ProgessFont' !important;
}

h1,
.warName,
.stateName {
  font-family: 'ProgessFont' !important;
}

.body {
  font-family: 'grenade';
}

.numbersStyling {
  font-size: 30px !important;
} 

/* Filter Panel */
.shiny-input-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filterPanel {
  background-color: hsla(246.7, 7.1%, 50.6%, 0.44) !important;
  top: 40%;
  right: 10%;
}

.irs-from,
.irs-to {
  font-size: 18px !important;
  top: -10px !important;
}

.irs-grid,
.irs-min,
.irs-max {
  display: none !important;
}

.irs-from, .irs-to, .irs-single, .selectize-control, .war_selector_class  {
  font-family: 'grenade' !important;
  font-size: 30px !important;
  color: #000 !important;
  background-color: #f4f5ff00 !important;
}

.irs-bar {
  border-top: 1px solid #b2bec8 !important;
  border-bottom: 1px solid #b2bec8 !important;
  background: #040404 !important;
  top: 35px !important
  
}

.irs {
  padding-left: 40px;
  padding-bottom: 100px;
  padding-right: 40px;
}

.irs-line {
  visibility: hidden !important;
}

#casualtiesSlider .irs-handle {
  background-image: url("images/skull.png") !important;
  background-repeat: no-repeat !important;
  background-size: 53px 48px !important;
  width: 53px !important;
  height: 48px !important;
  border: 0px !important;
  background-color: #fff0 !important;
}

#timeSlider .irs-handle {
  background-image: url("images/clock.png") !important;
  background-repeat: no-repeat !important;
  background-size: 45px 45px !important;
  width: 45px !important;
  height: 45px !important;
  border: 0px !important;
  background-color: #fff0 !important;
}

/* Table */
.Reactable {
  height: 100vh !important;
  max-height: 1500px !important;
  margin: 100px !important;
}

.rt-tbody {
  background-image: url("https://img.freepik.com/premium-photo/old-paper-texture-background_118047-1365.jpg?w=2000");
  z-index: 1 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.rt-tr-header {
  background-image: url("https://img.freepik.com/premium-photo/old-paper-texture-background_118047-1365.jpg?w=2000");
  background-color: rgba(255, 255, 255, 0) !important;
  z-index: 2 !important;
}

.rt-td {
  border-top: 70px solid !important;
  border-image: url("images/wire.png") 100 !important;
}

h2 {
  border-bottom: 0px !important;
}

.tableHeader {
  font-size: 30px !important;
}

.fontStateTable {
  font-size: 30px !important;
}

.outcome_icon {
  position: relative !important;
  left: 30% !important;
}

.rt-page-info, .rt-page-button {
  font-family: 'grenade' !important;
  font-size: 25px !important;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.legend {
  margin-top: 50px !important;
  opacity: 0.6 !important;
}

.text-center {
  text-align: center;
}